<%- include('../partials/header') %>

<h1>This is the New Brewer Page</h1>

<div>Your Brewers: </div>
<section>
    <% brewers.forEach(function(b) { %>
        <article><%= b.name %></article>
    <% }) %>
</section>

<form action="/equipment" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Add Brewer">
</form>


<%- include('../partials/footer') %>