<%- include('../partials/header') %>

<h1>This is the Equipment Page</h1>

<div>Brewers: </div>
    <ul></ul>
<div>Grinders: </div>
    <ul></ul>


<button><a href="/equipment/new">Add Equipment</a></button>
<button><a href="/">BACK</a></button>
<%- include('../partials/footer') %>