<%- include('../partials/header') %>

<h1>New Equipment Page</h1>

<form action="">
    <div>Brewers: </div>
        <ul></ul>
    <div>Grinders: </div>
        <ul></ul>
</form>


<button><a href="/">BACK</a></button>
<%- include('../partials/footer') %>