<%- include('../partials/header') %>

<div class="container mt-5">
    <form id="new-equipment" action="/equipment" method="POST" class="form-inline mx-auto border shadow-sm p-3">
      <div class="form-group mr-2">
        <label>Add: </label>
        <select name="equipment" class="form-control mt-2">
          <option value="Brewer">Brewer</option>
          <option value="Grinder">Grinder</option>
        </select>
      </div>
      <div class="form-group mr-2">
        <input type="text" name="name" class="form-control mt-2" placeholder="Name">
      </div>
      <input type="submit" value="Add Equipment" class="btn btn-primary mt-3">
    </form>
    <button class="btn btn-outline-dark mt-3"><a class="text-decoration-none" href="/equipment/index">BACK</a></button>
  </div>
  
  

<%- include('../partials/footer') %>