<%- include('../partials/header') %>

<h1>New Equipment Page</h1>

<label>Add: </label>
<select name="equipment">
    <option value="Brewer">Brewer</option>
    <option value="Grinder">Grinder</option>
</select>
<br>
<form id="new-equipment" action="/equipment" method="POST">
    <input type="text" name="name">
    <input type="submit" value="Add Equipment">
</form>


<button><a href="/equipment/index">BACK</a></button>
<%- include('../partials/footer') %>