<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title><%= title %></title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e9ecef;">
    <div class="container-fluid">
      <% if (user) { %>
        <a class="text-decoration-none text-dark ml-auto" href="/logout">LOG OUT</a>
      <% } else { %>
        <a class="text-decoration-none text-dark ml-auto" href="/auth/google">LOG IN</a>
      <% } %>
    </div>
  </nav>
  
  <main>
    <h1 class="display-4 text-center font-weight-bold text-uppercase mt-3 mb-4"><%= title %></h1>
