body {
    background-color: #2d3234;
}

nav {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    background-color: #7d929d;
}

#log {
    color: #535859;
}

#title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: #aaebff;
}

#index-btn {
    border-color: #97999a;
}

#index-btn:hover {
    background-color: #97999a;
}

#main-text {
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
}

.container {
    border-color: #b9e4ee;
}

#all-recipes-text {
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    color: #ffffff;
}

#details-btn {
    border-color: #4e646c;
    background-color: #4e646c;
}

#back-btn {
    border-color: #b9e4ee;
    color: #ffffff;
}

#show-text {
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    color: #ffffff;
}

#edit-btn {
    border-color: #5190a3;
    background-color: #5190a3;
}

#delete-btn {
    border-color: #B73f23;
    background-color: #B73f23;
}

#edit-page {
    width: 50%;
    padding: 2%;
}

#edit-text {
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    color: #cbcccc;
    margin: 5px 0 5px 90px;
}

#edit-page input, #edit-page textarea {
    width: 80%;
    font-size: 14px;
}

#edit-page input, .form-control {
    width: 80%;
    height: 40px;
    margin: 0 auto;
}

#update-btn {
    border-color: #5190a3;
    background-color: #5190a3;
    margin-left: 90px;
}

#new-page {
    width: 80%;
}

#new-text {
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    color: #cbcccc;
    margin: 5px 0 5px 125px;
}

#add-btn {
    border-color: #5190a3;
    background-color: #5190a3;
    margin: 5px 0 5px 125px;
}

#back-btn2 {
    border-color: #b9e4ee;
    color: #ffffff;
    margin: 5px 0 5px 5px;
}