<%- include('../partials/header') %>

<h1>This is the Home Page in pour-over</h1>

<button><a href="../equipment/index">Your Equipment</a></button>

<button><a href="/pour-over/new-recipe">Create a Recipe</a></button>

<button><a href="/pour-over/recipes">Your Recipes</a></button>


<%- include('../partials/footer') %>