<%- include('../partials/header') %>

<h1>This is the New Recipe page</h1>

<form id="new-form" action="/pour-over/recipes" method="POST">
    <label>Name:</label>
        <input type="text" name="name">
    <label>Brewer:</label>
        <select name="brewer">
        <%- brewers.map(b =>
        `<option value="${b._id}">${b.name}</option>`
        ) %>
        </select>
    <label>Grinder:</label>
        <input type="text" name="grinder">
    <label>Grind Size:</label>
        <input type="number" name="grind-size">
    <label>Weight:</label>
        <input type="number" name="weight">
    <label>Temperature:</label>
        <input type="number" name="temperature">
    <label>Notes:</label>
        <input type="text" name="notes">
    <input type="submit" value="Add Recipe">
</form>

<button><a href="/">BACK</a></button>
<%- include('../partials/footer') %>