<%- include('../partials/header') %>

<h1>Add Equipment Page</h1>

<div>Brewers: </div>
    
<div>Grinders: </div>
    


<button><a href="/new-equipment">Add Equipment</a></button>
<button><a href="/">BACK</a></button>
<%- include('../partials/footer') %>