<%- include('../partials/header') %>

<div class="container mt-3 border rounded p-3 mx-auto">
  <div class="row">
    <div class="col-sm-6 text-center">
      <h4>Title</h4>
    </div>
  </div>
  <% recipes.forEach(function(r) { %>
    <div class="row mt-3 justify-content-center">
      <div class="col-sm-6 text-center">
        <%= r.name %>
      </div>
      <div class="col-sm-6 text-center">
        <a href="/pour-over/<%= r._id %>" class="btn btn-primary btn-sm">DETAILS</a>
      </div>
    </div>
  <% }) %>
  <div class="row mt-3">
    <div class="col-sm-12 text-center">
      <a href="/" class="btn btn-outline-dark btn-sm">BACK</a>
    </div>
  </div>
</div>


<%- include('../partials/footer') %>
