<%- include('../partials/header') %>

<table class="table table-responsive">
    <thead>
      <tr>
        <th class="p-3">Title</th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(function(r) { %>
        <tr>
          <td class="display-6 text-right p-3">
            <%= r.name %>
          </td>
          <td class="p-3"><button type="button" class="btn btn-primary"><a class="text-decoration-none text-white" href="/pour-over/<%= r._id %>">DETAILS</a></button></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<button class="btn btn-outline-dark ms-2"><a class="text-decoration-none" href="/">BACK</a></button>
<%- include('../partials/footer') %>